* {
    box-sizing: border-box;
}

.container {
    display: inline-block;
    position: relative;
    margin: 16px;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.container__tooltip {
    display: none;
    position: absolute;
    bottom: -40px;
    padding: 8px;
    border-radius: 4px;
    background-color: gray;
    color: white;
}

.container:hover .container__tooltip {
    display: block;
}